 
<tr class=""> 
              
    <td colspan="6" class="blue-amount"><center>TOTAUX</center></td>
    
    <td class="order-entry"><strong><%= number_to_currency @total_b3_entry, unit: "", seperator: ",", delimiter: " " %></strong></td>
    <td class="order-entry"><strong><%= number_to_currency @total_b6_entry, unit: "", seperator: ",", delimiter: " " %></strong></td>
    <td class="order-entry"><strong><%= number_to_currency @total_b12_entry, unit: "", seperator: ",", delimiter: " " %></strong></td>
    <td class="order-entry"><strong><%= number_to_currency @total_b32_entry, unit: "", seperator: ",", delimiter: " " %></strong></td>
    <td class="order-entry"><strong><%= number_to_currency @total_b38_entry, unit: "", seperator: ",", delimiter: " " %></strong></td>

    <td class="order-out"><strong><%= number_to_currency @total_b3_out, unit: "", seperator: ",", delimiter: " " %></strong></td>
    <td class="order-out"><strong><%= number_to_currency @total_b6_out, unit: "", seperator: ",", delimiter: " " %></strong></td>
    <td class="order-out"><strong><%= number_to_currency @total_b12_out, unit: "", seperator: ",", delimiter: " " %></strong></td>
    <td class="order-out"><strong><%= number_to_currency @total_b32_out, unit: "", seperator: ",", delimiter: " " %></strong></td>
    <td class="order-out"><strong><%= number_to_currency @total_b38_out, unit: "", seperator: ",", delimiter: " " %></strong></td>
    
    <td class="order-out"><strong><%= number_to_currency @total_tonnage, unit: "", seperator: ",", delimiter: " " %></strong></td>
    

    
   
    
    
</tr>