<%= form_with(model: currency, local: false) do |form| %>
   <div class="modal-body">
    <ul class="errors"></ul>

    <div class="row">
      <div class="col-md">
        <div class="form-group">
          <%= form.label :name, "Nom", class: "required" %>
          <%= form.text_field :name, class: "form-control", placeholder: "Nom", required: true %>
        </div>

        <div class="form-group">
          <%= form.label :iso_code, "Code ISO", class: "required" %>
          <%= form.text_field :iso_code, class: "form-control", placeholder: "Code ISO", required: true %>
        </div>

        <div class="form-group">
          <%= form.label :symbol, "Symbol" %>
          <%= form.text_field :symbol, class: "form-control", placeholder: "Code ISO" %>
        </div>

        <div class="form-group">
          <%= form.label :decimal_symbol, "Symbol du décimal" %>
          <%= form.text_field :decimal_symbol, class: "form-control", placeholder: "Symbol du décimal" %>
        </div>

        <div class="form-group">
          <%= form.label :symbol_position, "Position du symbole", class: "required" %>
           <%= form.select :symbol_position, CURRENCY_SYMBOL_POSITIONS, {prompt: "Sélectionner"}, class: "form-control", placeholder: "Prénom" %>
        </div>

        <div class="form-group">
          <%= form.label :thousand_separator, "Separateur de millier" %>
          <%= form.text_field :thousand_separator, class: "form-control", placeholder: "Separateur de millier" %>
        </div>
      </div>
    </div>


  

   </div>
  <div class="modal-footer">
    <%= link_to "Annuler", "#", class: "btn btn-secondary waves-effect", data: {dismiss: "modal"} %>
    <%= form.submit "Enregistrer", class: "btn btn-primary waves-effect waves-light",  "data-loading-text"=>"Loading...", autocomplete: "off" %>

  </div>
<% end %>
