<!-- ########## START: LEFT PANEL ########## -->

      <ul class="br-sideleft-menu">

       <li class="br-menu-item">
          <%= link_to  raw('<i class="fa fa-home tx-20"></i> <span class="menu-item-label">Tableau de bord</span>'), dashboard_path, class: "br-menu-link #{current? "active", dashboard_path}" %>
        </li><!-- br-menu-item -->

        <% if can? :read, Transfer %>
            <li class="br-menu-item">
              <%= link_to  raw('<i class="fas fa-exchange-alt tx-20"></i> <span class="menu-item-label">Transferts</span>'), transfers_path, class: "br-menu-link #{current? "active", transfers_path}" %>
            </li><!-- br-menu-item -->
        <% end %>

       
        <% if can? :read, Withdrawal %>
            <li class="br-menu-item">
              <%= link_to  raw('<i class="fas fa-sign-out-alt tx-20"></i> <span class="menu-item-label">Retraits</span>'), withdrawals_path, class: "br-menu-link #{current? "active", withdrawals_path}" %>
            </li><!-- br-menu-item -->

        <% end %>

        

            

        
        

        <li class="br-menu-item">
          <a href="#" class="br-menu-link with-sub">
           <i class="fas fa-table tx-20"></i>
            <span class="menu-item-label">Journaux</span>
          </a><!-- br-menu-link -->
          <ul class="br-menu-sub">
            <% if can? :read, Transfer %>
                <li class="sub-item">
                    <%= link_to  "Transferts", history_transfers_path, class: "sub-link #{current? "active", history_transfers_path}" %>
                </li>
            <% end %>

            <% if can? :read, Withdrawal %>
                <li class="sub-item">
                    <%= link_to  "Retraits", history_withdrawals_path, class: "sub-link #{current? "active", history_withdrawals_path}" %>
                </li>
            <% end %>

            
          </ul>
        </li>


       
        


      

        

       
      </ul><!-- br-sideleft-menu -->

      
       
        
      </div><!-- info-list -->

    <!-- ########## END: LEFT PANEL ########## -->