<table id="datatable-default" class="table display responsive nowrap">
    <thead>
                            
      <tr>
        <th>Date</th>
      <th>Réf</th>
      <th>Date prod</th>
      <th>Nbre B3</th>
      <th>Tonnage B3</th>
      <th>Nbre B6</th>
      <th>Tonnage B6</th>
      <th>Nbre B12</th>
      <th>Tonnage B12</th>
      <th>Nbre B32</th>
      <th>Tonnage B32</th>
      <th>Nbre B38</th>
      <th>Tonnage B38</th>
      <th>Tonnage total</th>
        
        
        
      </tr>
                    
      </thead>
      <tbody >
                     
        <% @productions.each do |production| %>
      <tr>
        <td><%= production.created_at.strftime("%d/%m/%Y") %></td>
        <td><%= production.uid %></td>
        <td><%= production.production_date.strftime("%d/%m/%Y") if production.production_date.present? %></td>
        
        <td><%= number_to_currency production.b3_number, unit: "", seperator: ",", delimiter: " " %></td>
        <td><%= number_to_currency production.b3_tonnage, unit: "", seperator: ",", delimiter: " " %></td>
        <td><%= number_to_currency production.b6_number , unit: "", seperator: ",", delimiter: " " %></td>
        <td><%= number_to_currency production.b6_tonnage, unit: "", seperator: ",", delimiter: " " %></td>
        <td><%= number_to_currency production.b12_number, unit: "", seperator: ",", delimiter: " " %></td>
        <td><%= number_to_currency production.b12_tonnage, unit: "", seperator: ",", delimiter: " " %></td>
        <td><%= number_to_currency production.b32_number, unit: "", seperator: ",", delimiter: " " %></td>
        <td><%= number_to_currency production.b32_tonnage, unit: "", seperator: ",", delimiter: " " %></td>
        <td><%= number_to_currency production.b38_number, unit: "", seperator: ",", delimiter: " " %></td>
        <td><%= number_to_currency production.b38_tonnage, unit: "", seperator: ",", delimiter: " " %></td>
        <td><%= number_to_currency production.total_tonnage, unit: "", seperator: ",", delimiter: " " %></td>
        
      
        
        
      </tr>
    <% end %>

    </tbody>
    <tfoot class="tfooter">
        <%= render("search/partials/productions/tfooter") %> 
      
    </tfoot>
</table>


  <div id="withdrawal-modal" class="c-modal modal fade" data-backdrop="static"></div>
                 