 
<tr class="blue-amount"> 
              
    <td colspan="3" ><center>TOTAUX</center></td>
    
    
    <td><strong><%= number_to_currency @total_b3_number, unit: "", seperator: ",", delimiter: " " %></strong></td>
    <td><strong><%= number_to_currency @total_b3_tonnage, unit: "", seperator: ",", delimiter: " " %></strong></td>
    
    <td><strong><%= number_to_currency @total_b6_number, unit: "", seperator: ",", delimiter: " " %></strong></td>
    <td><strong><%= number_to_currency @total_b6_tonnage, unit: "", seperator: ",", delimiter: " " %></strong></td>

    <td><strong><%= number_to_currency @total_b12_number, unit: "", seperator: ",", delimiter: " " %></strong></td>
    <td><strong><%= number_to_currency @total_b12_tonnage, unit: "", seperator: ",", delimiter: " " %></strong></td>
    
    <td><strong><%= number_to_currency @total_b32_number, unit: "", seperator: ",", delimiter: " " %></strong></td>
    <td><strong><%= number_to_currency @total_b32_tonnage, unit: "", seperator: ",", delimiter: " " %></strong></td>
    
    <td><strong><%= number_to_currency @total_b38_number, unit: "", seperator: ",", delimiter: " " %></strong></td>
    <td><strong><%= number_to_currency @total_b38_tonnage, unit: "", seperator: ",", delimiter: " " %></strong></td>
    
    <td><strong><%= number_to_currency @total_tonnage, unit: "", seperator: ",", delimiter: " " %></strong></td>
    

    
   
    
    
</tr>