<!DOCTYPE html>

<html>

<head>

<title><%= "Tableau de bord - #{APPLICATION_NAME}" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta charset="utf-8"/>

<%= wicked_pdf_stylesheet_link_tag "invoice" %>

</head>

<body>

    <%= yield %>

</body>

</html>